body{
	background-color:white;
}

@font-face {
  font-family: Navfont;
  src: url("fonts/awake-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: Logofont;
  src: url("fonts/metro-uber-font.woff") format("woff");
}

.header{
	background-color:white;
	color:black;
	font-family:Logofont;
	text-align:left;
	font-size:4em;
	letter-spacing:5px;
	width:100%;
	height:80px;
	padding:10px;
	border-bottom:black 3px solid;
	box-sizing: border-box;
	}

.content{
	width:100%;
	float:left;
}

.col{
	width:80%;
	float:left;
	background:white;
	margin-top:5px;
	padding:10px;
	box-sizing: border-box;
}

h1 {
	font-family: Navfont;
	letter-spacing:2px;
}

h2 {
	font-family: Navfont;
	letter-spacing:2px;
}


p {
	font-family: Navfont;
	border:black 3px solid;
	box-sizing: border-box;
	padding:10px;
	letter-spacing:2px;
	box-shadow: 10px 10px 5px lightgrey;
	border-radius:4px;
	display: flex;
	align-items:center;
}

.sshots {
	border:black 2px solid;
	border-radius:3px;
	margin:5px;
}

.iconcon{
	float:right;
	font-family:Navfont;
	text-align:center;
	font-size:12px;
	letter-spacing:2px;
	color:black;
	width:60px;
	transition: transform .4s;
}

.iconcon:hover {
	transform:scale(1.3);
}

#icon{
	max-width:35px;
	height:auto;
	box-sizing:border-box;
	position:relative;
	cursor:pointer;
}
	
.footer{
	background-color:white;
	color:black;
	clear:both;
	width:100%;
	height:80px;
	margin-top:40px;
	box-sizing: border-box;
	box-shadow: 10px 10px 5px lightgrey;
	text-align:right;
	padding:10px;
}


.wrapper{
	width:80%;
	margin:0 auto;
}

.navtop {
	width:100%;
	float:left;	
	border-bottom:black 1px solid;
	box-shadow: 10px 10px 5px lightgrey;
	margin-bottom:12px;
	}
	
ul.topnav  {
	overflow:hidden;
	background-color:white;
	list-style-type:none;
	margin:0;
	padding:0;
	
	
}
ul.topnav li {
	float:left;
	width:25%;
}

ul.topnav li a {
	display:block;
	color:black;
	text-align:center;
	padding:15px 15px;
	text-decoration:none;
	font-family:Navfont;
	text-transform: uppercase;
}

ul.topnav li a:hover:not(.active){
	background-color:black;
	color:white;
}

ul.topnav li a.active {
	background-color:black;
	color:white;
}

.lg-view{
	display:inline-block;
}

.sm-view{
   display:none;
}


@media screen and (max-width: 600px) {

	
	.wrapper{
		width:100%;
	}

		ul.topnav  {
	overflow:none;
	}
	
	ul.topnav li {
		float:left;
		width:100%;
	}
	
	ul.topnav li a {
		font-size:14px;
		padding:10px;	
	}
	
	.navtop {
		width:100%;
		position: sticky;
		top: 0;
		left: 0;
	}
	
	.wrapper{
		width:100%;
	}

	.header {
		width:100%;
		float:left;
	}
	
	.footer{
		width:100%;
		float:left;
	}
}

@media screen and (max-width: 800px) {
	
	.lg-view{
       display:none;
    }

    .sm-view{
       display:inline-block;
	   font-size:50px;
    }